@import "../../bower_components/normalize.css/normalize.css";
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}
.header nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.header__logo {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100px;
  height: 100px;
  margin-left: 35px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background-image: url("http://placehold.it/100x100");
}
.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  margin: 0;
  padding-left: 0;
}
.header__menu li {
  font-size: 1.6rem;
  list-style: none;
  margin-right: 35px;
}
.header__menu a {
  text-decoration: none;
  color: #000000;
}
.header h1,
.header p,
.header a {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-align: center;
}
.header h1 {
  font-size: 3.6rem;
}
.header p {
  font-size: 3rem;
  margin-bottom: 80px;
}
.header__btn {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 10px 25px;
  margin-bottom: 50px;
}
.btn {
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000000;
  text-align: center;
  background-color: #fff;
}
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.content h2 {
  width: 100%;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 50px;
}
.content__dishes {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.content__review {
  width: 100%;
}
.content__promo,
.content__categories {
  width: 80%;
}
.ability,
.popular {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-bottom: 45px;
  padding-left: 0;
}
.ability li,
.popular li {
  list-style: none;
  font-size: 1.6rem;
  text-align: center;
}
.ability li {
  padding: 135px 25px 15px 25px;
  width: 190px;
  background-image: url("http://placehold.it/100x100");
  background-repeat: no-repeat;
  background-position: top center;
}
.popular__type {
  list-style: none;
  font-size: 1.6rem;
  text-align: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.popular__type a {
  color: #000000;
  padding: 135px 25px 15px 25px;
  width: 190px;
  background-image: url("http://placehold.it/100x100");
  background-repeat: no-repeat;
  background-position: top center;
}
.recipe {
  width: 45%;
  padding: 0px 20px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.recipe__img {
  width: 140px;
  height: 180px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 30px;
  margin-bottom: 15px;
}
.recipe__description {
  width: 60%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.recipe__description h3 {
  font-size: 1.8rem;
}
.recipe__text {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.recipe__time,
.recipe__ingredient,
.recipe__recomendation,
.recipe__btn {
  font-size: 1.4rem;
}
.recipe__time,
.recipe__ingredient {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 0 10px 25px;
  margin-right: 10px;
  background-image: url("http://placehold.it/15x15");
  background-repeat: no-repeat;
  background-position: 5% 50%;
}
.recipe__recomendation {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 20px;
  width: 60%;
}
.recipe__btn {
  padding: 5px 10px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.review-slider {
  width: 300%;
  height: 400px;
  position: relative;
  margin-bottom: 30px;
}
.review-slider input {
  opacity: 0;
}
.review-slider__toggle {
  position: absolute;
  width: 33.3%;
  top: 90%;
  text-align: center;
  z-index: 1000;
}
.review-slider__toggle label {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.2rem;
  line-height: 3rem;
  padding: 0 10px;
  margin-right: 10px;
}
.review-slider__slides {
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 33.3%;
  padding: 30px 0;
}
.review-slider__slide-wrapper {
  display: none;
  height: 400px;
  position: relative;
  width: 100%;
}
.review-slider__slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-bottom: 50px;
}
.review-slider__slide img {
  width: 100px;
  height: 100px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.review-slider__comment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 80%;
}
.review-slider__comment header {
  font-size: 1.6rem;
  font-weight: bold;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 30px;
}
.review-slider__comment p {
  font-size: 1.6rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin-bottom: 10px;
}
.review-slider__rate {
  font-size: 0;
}
.review-slider__rate-wrapper {
  font-size: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.review-slider__star {
  display: none;
}
.review-slider__ico {
  padding-left: 2px;
  height: 10px;
  cursor: pointer;
  color: #FFB300;
}
.review-slider__ico:last-child {
  padding-left: 0;
}
.review-slider__date {
  font-size: 1.4rem;
  display: inline-block;
  width: 100%;
  text-align: right;
}
.review-slider__ico:hover:before,
.review-slider__ico:hover ~ .review-slider__ico:before,
.review-slider__star:checked ~ .review-slider__ico:before {
  content: "\f005";
}
#btn-1:checked ~ .review-slider__slides .review-slider__slide-wrapper:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .review-slider__slides .review-slider__slide-wrapper:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .review-slider__slides .review-slider__slide-wrapper:nth-child(3) {
  display: block;
}
.footer {
  padding: 30px;
  background-color: #c9c9c9;
}
.footer a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #000000;
}
html,
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 10px;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1;
}
.select {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 40px;
}
.filter {
  padding: 30px;
  background-color: #e5e5e5;
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 20px;
}
.filter__header {
  font-size: 1.8rem;
}
.filter__link {
  font-size: 1.4rem;
  color: #999999;
}
.filter__btn {
  background-color: #ffffff;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.8rem;
  word-wrap: break-word;
  display: block;
}
.filter__btn--disabled {
  opacity: 0.5;
}
.filter__name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.filter__name input {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
  font-family: "Open Sans", Arial, sans-serif;
}
.filter__header {
  margin-bottom: 15px;
}
.filter__time,
.filter__type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.lasting {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.lasting input:not(checked) {
  position: absolute;
  opacity: 0;
}
.lasting input:not(checked) + label {
  position: relative;
  cursor: pointer;
}
.lasting input:not(checked) + label:before {
  position: absolute;
  text-align: center;
  padding-top: 20px;
  top: 0;
  left: 0;
  width: 55px;
  height: 35px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 2px 0 #000;
  -webkit-transition: box-shadow 2s ease, color 2s ease;
          transition: box-shadow 2s ease, color 2s ease;
}
.lasting input:checked + label:before {
  box-shadow: 0 0 7px 0 #000;
  color: #000;
}
.lasting__btn--five:not(checked) + label:before {
  content: "5-7";
}
.lasting__btn--ten:not(checked) + label:before {
  content: "10-15";
}
.lasting__btn--twenty:not(checked) + label:before {
  content: "20-30";
}
.lasting__btn--thirty:not(checked) + label:before {
  content: "30-60";
}
.lasting label {
  position: relative;
  font-size: 1.4rem;
  color: #999999;
  padding: 60px 6px 0 6px;
  margin-bottom: 10px;
}
.cuisine {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 0;
}
.cuisine li {
  width: 100%;
  list-style: none;
  margin-bottom: 15px;
}
.cuisine input {
  margin: 0 5px 0 0;
}
.cuisine label {
  font-size: 1.4rem;
  cursor: pointer;
}
.result {
  width: 60%;
  padding: 30px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e5e5e5;
}
.result__output {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.result__btn {
  font-size: 1.4rem;
  padding: 5px;
}
.result__text {
  font-size: 1.6rem;
  text-align: center;
}
.result__text--nofilter {
  display: block;
}
.result__text--nomatches {
  display: none;
}
.result__count-matches {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 30px;
}
.result__count-matches p {
  font-size: 1.6rem;
}
.recipe--preview {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
}
.recipe__img--preview {
  width: 140px;
  height: 140px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 15px;
  margin-bottom: 10px;
}
.recipe__description--preview {
  width: 65%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.recipe__description--preview header {
  font-size: 1.6rem;
  margin-bottom: 15px;
  font-weight: bold;
}
.recipe__text--preview {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.recipe__time--preview,
.recipe__ingredient--preview,
.recipe__recomendation--preview,
.recipe__btn--preview {
  font-size: 1.2rem;
}
.recipe__time--preview,
.recipe__ingredient--preview {
  margin-right: 10px;
  background-image: url("http://placehold.it/15x15");
  background-repeat: no-repeat;
  background-position: 5%, 0%;
}
.recipe__recomendation--preview {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 20px;
}
.recipe__btn--preview {
  padding: 5px 10px;
}
.recipe {
  color: #333333;
}
.recipe--instruction,
.recipe--step {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
}
.recipe__intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 0 20px;
  text-align: center;
  background-color: #f2f2f2;
}
.recipe h2 {
  width: 60%;
  font-size: 3.6rem;
}
.recipe__text--instruction,
.recipe__text--step {
  width: 80%;
}
.recipe__ingredient--instruction,
.recipe__ingredient--step {
  margin: 0;
}
.recipe__wrapper:first-of-type {
  margin-bottom: 30px;
  padding: 20px;
  font-size: 0;
}
.recipe__wrapper:first-of-type span {
  font-size: 1.4rem;
}
.recipe__wrapper:last-of-type {
  padding: 10px;
  font-size: 0;
}
.recipe__btn--instruction,
.recipe__btn--step {
  margin: 0 5px;
  font-size: 1.4rem;
}
.recipe__recomendation--instruction {
  padding: 0;
  margin-right: 0;
}
.steps,
.ingredient {
  width: 45%;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
.steps h3 {
  font-size: 2.4rem;
}
.steps__list {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  list-style: none;
}
.steps__item {
  padding: 0 10px;
}
.steps__title {
  display: inline-block;
  font-size: 1.8rem;
}
.steps__description {
  display: none;
}
.ingredient__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  list-style: none;
}
.ingredient__item {
  position: relative;
  padding-left: 50px;
}
.ingredient__item:before {
  content: '';
  position: absolute;
  top: 10%;
  left: 0;
  width: 40px;
  height: 40px;
  background: url('http://placehold.it/40x40') no-repeat 0;
}
.ingredient__item:first-child {
  margin-bottom: 25px;
  border-bottom: 1px solid #8f8f8f;
}
.ingredient__buy {
  position: absolute;
  top: 10%;
  right: 40px;
  font-size: 0;
}
.ingredient__btn {
  padding: 5px;
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 0;
}
.ingredient__sms {
  display: block;
  margin-left: 60%;
  padding: 5px 40px;
  text-align: center;
  color: black;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.popup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  padding: 30px;
  width: 500px;
  height: 390px;
  box-sizing: border-box;
  font-size: 1.4rem;
}
.popup__sms {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.8rem;
}
.popup ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.8rem;
}
.popup label {
  display: block;
  line-height: 3.2rem;
}
.popup input[type="tel"] {
  margin-bottom: 40px;
}
.popup__btn {
  margin: 0 auto;
  display: block;
  padding: 5px 20px;
}
.gallery-step {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #e3e3e3;
}
.gallery-step__control {
  position: absolute;
  top: 25px;
  font-size: 1.8rem;
  color: #333333;
}
.gallery-step__control--left {
  left: 50px;
}
.gallery-step__control--right {
  right: 50px;
}
.gallery-step__slider {
  height: 320px;
  width: 100%;
}
.gallery-step__item {
  position: relative;
  bottom: 0;
  left: 50%;
  margin: 0;
  width: 660px;
  height: 320px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.gallery-step img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.gallery-step__times {
  position: absolute;
  top: 85px;
  left: 50%;
  z-index: 15;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.gallery-step__time,
.gallery-step__turn {
  position: relative;
  display: inline-block;
  padding: 10px 10px 10px 40px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  background-color: #e3e3e3;
}
.gallery-step__time:before,
.gallery-step__turn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  width: 25px;
  height: 25px;
  background-color: #bdbdbd;
  border: 1px solid #8f8f8f;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  box-sizing: border-box;
}
.gallery-step__turn {
  color: #333333;
  text-decoration: none;
}
.gallery-step__turn:before {
  background-color: #e94d3c;
}
.gallery-step__turn:hover {
  background-color: #b6b6b6;
}
.gallery-step__turn:hover:before {
  background-color: #ee2812;
}
.gallery-step figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.timer {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 170px;
  width: 660px;
  height: 235px;
  background-color: #f2f2f2;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  box-sizing: border-box;
}
.timer__counter {
  font-size: 5.0rem;
  color: #e94d3c;
}
.timer__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  font-size: 1.4rem;
}
.timer__control {
  display: inline-block;
}
.timer__progress {
  width: 100%;
  height: 20px;
  background-color: #bdbdbd;
}
.debug > * {
  outline: 4px solid green;
}
.debug > * > * {
  outline: 3px solid red;
}
.debug > * > * > * {
  outline: 2px solid orange;
}
.debug > * > * > * > * {
  outline: 1px solid gray;
}
