<h2>{{title}}</h2>
<p class="recipe__text recipe__text--instruction">{{description}}</p>
<div class="recipe__wrapper">
  <span class="recipe__time recipe__time--instruction">{{time}}мин</span>
  <span class="recipe__ingredient recipe__ingredient--instruction">{{ingredient}} ингредиентов</span>
</div>
<div class="recipe__wrapper">
  <a class="btn recipe__btn recipe__btn--instruction" href="#">Начать готовить</a>
  <a class="btn recipe__btn recipe__btn--instruction" href="#">Рекомендовать рецепт</a>
</div>
<p class="recipe__recomendation recipe__recomendation--instruction">Рекомендуют: <span>155</span> человек</p>