{{#each step_list}}
 <figure class="gallery-step__item gallery-step__item--active">
  <img src="http://placehold.it/660x235/868686/eeeeee" alt="">
  <div class="gallery-step__times">
    <span class="gallery-step__time">{{time}} мин</span>
    <a href="" class="gallery-step__turn">Включить таймер</a>
  </div>
  <figcaption>Шаг {{id}}: {{title}}</figcaption>
</figure>
{{/each}}